NavrhnutVylepsenie/bpelContent/vylepsenie.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="VylepsenieServiceService" targetNamespace="http://entities.services.bug.dipl.seregely.tuke.sk/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://entities.services.bug.dipl.seregely.tuke.sk/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://entities.services.bug.dipl.seregely.tuke.sk/" version="1.0" xmlns:tns="http://entities.services.bug.dipl.seregely.tuke.sk/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="create" type="tns:create" />
<xs:element name="createResponse" type="tns:createResponse" />
<xs:element name="createWithProjekt" type="tns:createWithProjekt" />
<xs:element name="createWithProjektResponse" type="tns:createWithProjektResponse" />
<xs:element name="delete" type="tns:delete" />
<xs:element name="deleteResponse" type="tns:deleteResponse" />
<xs:element name="retrieve" type="tns:retrieve" />
<xs:element name="retrieveResponse" type="tns:retrieveResponse" />
<xs:element name="update" type="tns:update" />
<xs:element name="updateResponse" type="tns:updateResponse" />
<xs:complexType name="create">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string" />
<xs:element minOccurs="0" name="arg1" type="tns:uzivatel" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="uzivatel">
<xs:sequence>
<xs:element minOccurs="0" name="celeMeno" type="xs:string" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="chybas" nillable="true" type="xs:anyType" />
<xs:element minOccurs="0" name="email" type="xs:string" />
<xs:element name="idUzivatela" type="xs:int" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="projekts" nillable="true" type="xs:anyType" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="vylepsenies" nillable="true" type="xs:anyType" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="createResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:vylepsenie" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="vylepsenie">
<xs:sequence>
<xs:element minOccurs="0" name="ciselnikStavov" type="tns:ciselnikStavov" />
<xs:element name="idVylepsenia" type="xs:int" />
<xs:element minOccurs="0" name="popis" type="xs:string" />
<xs:element minOccurs="0" name="projekt" type="tns:projekt" />
<xs:element minOccurs="0" name="riesitel" type="tns:riesitel" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="riesitels" nillable="true" type="xs:anyType" />
<xs:element minOccurs="0" name="uzivatel" type="tns:uzivatel" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="ciselnikStavov">
<xs:sequence>
<xs:element name="idStavu" type="xs:int" />
<xs:element minOccurs="0" name="nazov" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="projekt">
<xs:sequence>
<xs:element name="idProjektu" type="xs:int" />
<xs:element minOccurs="0" name="nazov" type="xs:string" />
<xs:element minOccurs="0" name="popis" type="xs:string" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="riesitels" nillable="true" type="xs:anyType" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="uzivatels" nillable="true" type="xs:anyType" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="riesitel">
<xs:sequence>
<xs:element minOccurs="0" name="celeMeno" type="xs:string" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="chybas" nillable="true" type="xs:anyType" />
<xs:element name="idRiesitela" type="xs:int" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="projekts" nillable="true" type="xs:anyType" />
<xs:element name="veduci" type="xs:boolean" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="vylepsenies" nillable="true" type="xs:anyType" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="update">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="tns:vylepsenie" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="updateResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:vylepsenie" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="delete">
<xs:sequence>
<xs:element name="arg0" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="deleteResponse">
<xs:sequence />
</xs:complexType>
<xs:complexType name="retrieve">
<xs:sequence>
<xs:element name="arg0" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="retrieveResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:vylepsenie" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="createWithProjekt">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string" />
<xs:element minOccurs="0" name="arg1" type="tns:uzivatel" />
<xs:element minOccurs="0" name="arg2" type="tns:projekt" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="createWithProjektResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:vylepsenie" />
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="retrieve">
    <wsdl:part element="tns:retrieve" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateResponse">
    <wsdl:part element="tns:updateResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createWithProjektResponse">
    <wsdl:part element="tns:createWithProjektResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteResponse">
    <wsdl:part element="tns:deleteResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="update">
    <wsdl:part element="tns:update" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createWithProjekt">
    <wsdl:part element="tns:createWithProjekt" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="create">
    <wsdl:part element="tns:create" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="retrieveResponse">
    <wsdl:part element="tns:retrieveResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="delete">
    <wsdl:part element="tns:delete" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createResponse">
    <wsdl:part element="tns:createResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="VylepsenieService">
    <wsdl:operation name="create">
      <wsdl:input message="tns:create" name="create">
    </wsdl:input>
      <wsdl:output message="tns:createResponse" name="createResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input message="tns:update" name="update">
    </wsdl:input>
      <wsdl:output message="tns:updateResponse" name="updateResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input message="tns:delete" name="delete">
    </wsdl:input>
      <wsdl:output message="tns:deleteResponse" name="deleteResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieve">
      <wsdl:input message="tns:retrieve" name="retrieve">
    </wsdl:input>
      <wsdl:output message="tns:retrieveResponse" name="retrieveResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createWithProjekt">
      <wsdl:input message="tns:createWithProjekt" name="createWithProjekt">
    </wsdl:input>
      <wsdl:output message="tns:createWithProjektResponse" name="createWithProjektResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="VylepsenieServiceServiceSoapBinding" type="tns:VylepsenieService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="create">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="create">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="createResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="update">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="updateResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="delete">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="deleteResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createWithProjekt">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="createWithProjekt">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="createWithProjektResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieve">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="retrieve">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="retrieveResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VylepsenieServiceService">
    <wsdl:port binding="tns:VylepsenieServiceServiceSoapBinding" name="VylepsenieServicePort">
      <soap:address location="http://localhost:8080/BugTracking/Vylepsenie" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>